<!DOCTYPE html>
<!-- This file contains all global styles that are needed -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Pyerewolf</title>

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shell.css') }}"/>

    {% block stylesheets %} {# Used for per-page styles #}

    {% endblock stylesheets%}
</head>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <img src="{{ url_for('static', filename='images/navbar.png') }}" >
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

        <a class="navbar-item">
            How to play
        </a>
        <a class="navbar-item" href="https://github.com/Descent098/pyerewolf">
            Source Code
        </a>

        </div>
    </div>

    </div>
</nav>

<body>
    {% block content %}

    {% endblock content %}
</body>


</html>